<footer class="footer">
  <% if (theme.copyright){ %>
  <span class="footer-line">Copyright © <%= config.copyright || theme.copyright %></span>
  <% } %>
  <span class="footer-line">Theme by <a href="https://github.com/rankangkang/hexo-theme-typo" target="_blank" rel="noopener noreferrer">TYPO</a> · Deployed on <a href="https://github.com/HaooooZhang/HaooooZhang.github.io" target="_blank" rel="noopener noreferrer">GitHub</a></span>
  <div class="footer-icons" aria-label="software links">
    <a class="footer-icon" href="https://github.com/HaooooZhang" target="_blank" rel="noopener noreferrer" aria-label="GitHub" title="GitHub">
      <i class="fa-brands fa-github" aria-hidden="true"></i>
    </a>
    <a class="footer-icon" href="https://space.bilibili.com/290733281" target="_blank" rel="noopener noreferrer" aria-label="Bilibili" title="Bilibili">
      <i class="fa-brands fa-bilibili" aria-hidden="true"></i>
    </a>
    <a class="footer-icon" href="https://x.com/Haoooo_Zhang" target="_blank" rel="noopener noreferrer" aria-label="X" title="X">
      <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
    </a>
  </div>
</footer>